* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-complemantary: #34a853;
  --paragraph-color: #6b6c6e;
  --title-button-color: #000000;
  --gradient: linear-gradient(
    100deg,
    rgba(193, 255, 232, 1) 0%,
    rgba(193, 255, 232, 0) 100%
  );
  /* font-family: 'Inter', sans-serif; */
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
}
