* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  border: none;
}

:root {
  --color-complemantary: hsl(157, 89%, 44%);
  --paragraph-color: hsl(220, 1%, 43%);
  --bg-button-color: hsl(0, 0%, 0%);
  --footer-bg-color: hsl(0, 0%, 15%);
  --big-title-font-color: hsl(240, 74%, 5%);
  --subtitle-font-color: hsl(0, 0%, 0%);

  --font-button-color: hsl(0, 0%, 100%);
  --gradient: linear-gradient(
    100deg,
    hsl(158, 100%, 88%) 0%,
    hsla(158, 100%, 88%, 0) 100%
  );

  --bg-fundo-icon-card-1: #c4ffe9;
  --bg-fundo-icon-card-2: #c3f4ff;
  --bg-fundo-icon-card-3: #f6c3ff;
  --bg-fundo-icon-card-4: #ffc3c7;

  --nav-height: 7.1rem;
  font-size: 62.5%;
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}

section {
  padding-block: calc(14.2rem + var(--nav-height));
}

article {
  padding-block: calc(14.2rem + var(--nav-height));
}

.wrapper {
  margin: 0 auto;
  padding-inline: 4rem;
}

.col-a {
  align-self: center;
  grid-area: A;
}

.col-b {
  align-self: center;
  grid-area: B;
}

img {
  width: max(100%);
}

p {
  color: var(--paragraph-color);
}

button {
  display: flex;
  align-items: center;
  background: transparent;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background: var(--color-complemantary);
}
/* ===========nav=========== */

nav#navigation {
  width: 100%;
  height: var(--nav-height);
  background: var(--font-button-color);

  display: flex;

  position: fixed;
  z-index: 10;
}

nav.navigation .wrapper,
.menu .nav-list {
  width: 100%;
  margin: 0;

  justify-content: space-between;
  align-items: center;
  display: flex;
}

.menu .nav-list {
  gap: 5.6rem;

  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: 0.13em;
}

.nav-list a {
  color: var(--bg-button-color);
}

.menu .nav-list li a.active::after,
.menu .nav-list li a::after {
  content: "";
  width: 0;
  height: 0.1rem;
  bottom: -1rem;
  right: 0;
  position: relative;
  display: block;
  background: var(--bg-button-color);

  transition: width 1s;
}

nav.navigation .nav-list li a.active::before,
nav.navigation .nav-list li a::before {
  content: "";
  width: 0;
  height: 0.1rem;
  top: 3rem;
  right: 0;
  position: relative;
  display: block;
  background: var(--bg-button-color);

  transition: width 0.7s;
}

nav.navigation .nav-list li a:hover::before,
nav.navigation .nav-list li a:hover::after,
nav.navigation .nav-list li a.active::before,
nav.navigation .nav-list li a.active::after {
  width: 100%;
}

/* ===========home=========== */

#home .wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "A B";
}

#home::before {
  content: "";
  width: 100%;
  height: calc(84rem - var(--nav-height));
  background: var(--gradient);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
}

.home h1 {
  width: 68rem;
  padding-bottom: 3.2rem;

  font-weight: 700;
  font-size: 6.9rem;
  line-height: 7.2rem;
}

.home h1 span {
  background: var(--color-complemantary);
  color: var(--font-button-color);
}

.home .content p {
  width: 62.3rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.1rem;

  letter-spacing: -0.015rem;
}

.home .btn {
  background: var(--bg-button-color);
  margin-block-start: 4.8rem;
  margin-block-end: 6.4rem;
  padding: 2rem 8rem;
  gap: 1.5rem;
  color: var(--font-button-color);

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;

  letter-spacing: -0.015rem;

  cursor: pointer;

  transition: 0.9s;
}

.home .btn:hover {
  filter: brightness(1.1);
  letter-spacing: 0.2rem;
}

.home .content h3 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;

  letter-spacing: -0.015rem;
}

.home .content p:nth-last-child(1) {
  width: 37rem;

  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.1rem;
}

.home img {
  width: 40rem;

  transform: translateY(5.3rem);
}

/* ===========credit-cards=========== */
#creditCards .wrapper .cards {
  display: flex;
  gap: 4.8rem;
}

.credit-cards h3 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: 0.4rem;
  color: var(--color-complemantary);
}

.credit-cards h2 {
  padding-top: 2.1rem;
  padding-bottom: 9.6rem;

  font-weight: 600;
  font-size: 5rem;
  line-height: 6.4rem;
  text-align: center;
}

.credit-cards .card {
  width: 40%;
  padding: 2.4rem;

  flex-grow: 1;
  flex-shrink: 2;

  box-shadow: 0 0 2rem hsla(0, 0%, 0%, 0.15);
  border-radius: 0.4rem;

  transition: background 0.9s;
}

.credit-cards .card h2 {
  padding-top: 3.6rem;
  padding-bottom: 4rem;

  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.7rem;
  text-align: left;
}

.credit-cards a {
  font-weight: 500;
  font-size: clamp(1.8rem, 2rem, 2vw);
  line-height: 2.2rem;

  color: var(--color-complemantary);

  transition: color 0.9s;
}

.credit-cards .card .arrow {
  transition: stroke 0.8s;
}

.credit-cards .arrow path {
  transition: stroke 0.9s;
}

.credit-cards a:hover,
.credit-cards .arrow path {
  opacity: 0.7;
}

.credit-cards .card .icon rect {
  transition: fill 0.9s;
}

.credit-cards .card:hover .icon rect:nth-child(1) {
  fill: var(--bg-button-color);
  opacity: 0.8;
}

.credit-cards .card:nth-child(1):hover {
  background: var(--bg-fundo-icon-card-1);
}

.credit-cards .card:nth-child(2):hover {
  background: var(--bg-fundo-icon-card-2);
}

.credit-cards .card:nth-child(3):hover {
  background: var(--bg-fundo-icon-card-3);
}

.credit-cards .card:nth-child(4):hover {
  background: var(--bg-fundo-icon-card-4);
}

.credit-cards .card:hover a,
.credit-cards .card:hover .arrow path {
  color: var(--bg-button-color);
  stroke: var(--bg-button-color);
}

/* ===========services=========== */

#services .wrapper {
  display: grid;
  grid-template-columns: 47rem 1fr;
  grid-template-areas: "B A";
  gap: 1.7rem;
}

#services::before {
  content: "";
  width: 100%;
  height: calc(60rem - var(--nav-height));
  display: block;
  background: var(--gradient);
  position: absolute;
  z-index: -1;
  bottom: 1;
  left: 0;
}

.services h2 {
  font-size: 6.5rem;
  line-height: 7.2rem;

  text-align: center;
}

.services .content p {
  padding-top: 8.3rem;
  margin-inline-start: 9.8rem;

  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
}

.services img {
  width: 50rem;

  transform: translateY(-3rem);
}

/* ===========cards=========== */

#services-cards .wrapper {
  display: flex;
  gap: 12.4rem;
}

.services-cards .card h3 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-complemantary);
}

.services-cards .card h2 {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4.4rem;
  text-align: left;
  letter-spacing: -0.03rem;
}

.services-cards .card p {
  width: auto;
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.7rem;
}

/* ===========footer=========== */

footer#customerService {
  background: var(--footer-bg-color);
}

#several-links-about-us .cards-info {
  display: flex;
  justify-content: center;
  gap: 20rem;

  border-bottom: 0.1rem solid var(--font-button-color);
}

.cards-info .card a {
  color: var(--font-button-color);

  font-weight: 100;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding-block: 2rem;

  transition: opacity 0.9s;
}

.cards-info .card a:hover {
  opacity: 0.6;
}

.cards-info .card {
  display: flex;
  flex-direction: column;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list-links {
  padding-top: 1.4rem;

  display: flex;
  gap: 0.5rem;
}

.social-list-links li {
  transition: filter 0.7s;
}

.social-links .social-list-links li:hover {
  filter: brightness(1.6);
}

.email {
  padding-top: 2rem;
  padding-bottom: 1.6rem;

  display: flex;
}

.email [type="email"] {
  width: 100%;
  padding: 0.8rem;
  margin-right: -1rem;

  font-size: 1.5rem;
  line-height: 1.6rem;
}

.email .btn-form-email {
  cursor: pointer;
  transition: filter 0.7s;
}

.email .btn-form-email:hover {
  filter: brightness(0.9);
}

.email .btn-form-email svg {
  width: 4rem;
  height: 4rem;
}

.check-promo-notif {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.check-promo-notif {
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: var(--font-button-color);
}

.check-promo-notif a {
  color: var(--font-button-color);

  filter: brightness(2);
}

.check-promo-notif a::after {
  content: "";
  width: 0%;
  height: 0.1rem;
  top: 0;
  left: 6.9rem;
  position: relative;
  background: var(--font-button-color);
  display: block;

  transition: width 0.9s;
}

.check-promo-notif a:hover::after {
  width: 40%;
}

.check-promo-notif [type="checkbox"] {
  display: none;
}

.custom-check input + label::before {
  content: "";
  width: 2rem;
  height: 2rem;
  margin-inline-end: 0.7rem;
  margin-block-end: 0.7rem;
  vertical-align: middle;
  background: var(--font-button-color);
  display: inline-block;

  border-radius: 0.3rem;
}

.custom-check input:checked + label::before {
  background: var(--font-button-color) url(../assets/check-for-checkbox.svg)
    no-repeat center;
}

.dmc {
  padding-top: 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.5rem;

  color: var(--font-button-color);
}

.dmc p {
  color: var(--font-button-color);
}
.dmc .country {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.8rem;
}
